@font-face {
  font-family: Berthold Regular;
  src: url(/fonts/Berthold/Regular/Berthold_R.eot);
  src: url(/fonts/Berthold/Regular/Berthold_R.woff) format("woff"), url(/fonts/Berthold/Regular/Berthold_R.ttf) format("truetype"), url(/fonts/Berthold/Regular/Berthold_R.svg) format("svg"), url(/fonts/Berthold/Regular/Berthold_R.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Italic;
  src: url(/fonts/Berthold/Italic/Berthold_I.eot);
  src: url(/fonts/Berthold/Italic/Berthold_I.woff) format("woff"), url(/fonts/Berthold/Italic/Berthold_I.ttf) format("truetype"), url(/fonts/Berthold/Italic/Berthold_I.svg) format("svg"), url(/fonts/Berthold/Italic/Berthold_I.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Light;
  src: url(/fonts/Berthold/Light/Berthold_L.eot);
  src: url(/fonts/Berthold/Light/Berthold_L.woff) format("woff"), url(/fonts/Berthold/Light/Berthold_L.ttf) format("truetype"), url(/fonts/Berthold/Light/Berthold_L.svg) format("svg"), url(/fonts/Berthold/Light/Berthold_L.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Medium;
  src: url(/fonts/Berthold/Medium/Berthold_M.eot);
  src: url(/fonts/Berthold/Medium/Berthold_M.woff) format("woff"), url(/fonts/Berthold/Medium/Berthold_M.ttf) format("truetype"), url(/fonts/Berthold/Medium/Berthold_M.svg) format("svg"), url(/fonts/Berthold/Medium/Berthold_M.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Bold;
  src: url(/fonts/Berthold/Bold/Berthold_B.eot);
  src: url(/fonts/Berthold/Bold/Berthold_B.woff) format("woff"), url(/fonts/Berthold/Bold/Berthold_B.ttf) format("truetype"), url(/fonts/Berthold/Bold/Berthold_B.svg) format("svg"), url(/fonts/Berthold/Bold/Berthold_B.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: Berthold Regular !important; }

.intro-text p {
  width: 80%;
  padding-top: 50px;
  font-size: 20px;
  font-family: Berthold Light;
  line-height: 24px; }

.menu-princ li {
  display: inline; }

.container-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px,20px; }
  .container-nav ul {
    display: none; }

.menu-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background: white;
  width: 100%;
  height: 40px; }
  .menu-mob div img {
    margin-left: 10px; }
  .menu-mob .menu-2 {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end; }
    .menu-mob .menu-2 li {
      flex-grow: 0;
      text-align: center;
      flex-shrink: 0;
      margin-right: 10%; }
      .menu-mob .menu-2 li a {
        text-decoration: none; }
  .menu-mob .copy {
    display: none; }

.container-contact {
  margin-bottom: 40px;
  width: 60%; }

.container-link {
  margin: 40px 0; }
  .container-link .s-link {
    display: flex; }

.container-up {
  margin-bottom: 80px; }

/*# sourceMappingURL=estilos.css.map */
