@font-face {
	font-family: Berthold Regular;
	src: url(/fonts/Berthold/Regular/Berthold.eot);
    src: url(/fonts/Berthold/Regular/Berthold.woff) format('woff'), 
    url(/fonts/Berthold/Regular/Berthold.ttf) format('truetype'), 
    url(/fonts/Berthold/Regular/Berthold.svg) format('svg'),
    url(/fonts/Berthold/Regular/Berthold.woff2) format('woff2');
    font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: Berthold Regular;
	src: url(/fonts2/Berthold-Akzidenz-Grotesk-Regular.eot);
    src: url(/fonts2/Berthold-Akzidenz-Grotesk-Regular.woff) format('woff'), 
    url(/fonts2/Berthold-Akzidenz-Grotesk-Regular.ttf) format('truetype'), 
    url(/fonts2/Berthold-Akzidenz-Grotesk-Regular.svg) format('svg'),
    url(/fonts2/Berthold-Akzidenz-Grotesk-Regular.woff2) format('woff2');

	font-weight: normal;
	font-style: normal;
}



.tittle {
    font-family: Berthold Regular;
    font-weight: 100;
    font-size: 16px;
}

.container-nav{
    display: flex;
    justify-content: space-between;
}

.menu-princ li{
    display: inline;
   
}
.menu-princ{
    display:none;
}

.intro-text{
    width: 75%;
}

.copy{
    display: none;
}
.menu-2 li{
    display: inline;
}

.menu-mob{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color:black;
    text-align: right;
}