@font-face {
	font-family: Berthold Regular;
	src: url(/fonts/Berthold/Regular/Berthold.eot);
    src: url(/fonts/Berthold/Regular/Berthold.woff) format('woff'), 
    url(/fonts/Berthold/Regular/Berthold.ttf) format('truetype'), 
    url(/fonts/Berthold/Regular/Berthold.svg) format('svg'),
    url(/fonts/Berthold/Regular/Berthold.woff2) format('woff2');
    font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Berthold Italic;
	src: url(/fonts/Berthold/Italic/Berthold.eot);
    src: url(/fonts/Berthold/Italic/Berthold.woff) format('woff'), 
    url(/fonts/Berthold/Italic/Berthold.ttf) format('truetype'), 
    url(/fonts/Berthold/Italic/Berthold.svg) format('svg'),
    url(/fonts/Berthold/Italic/Berthold.woff2) format('woff2');
    font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: Berthold Light;
	src: url(/fonts/Berthold/Light/Berthold.eot);
    src: url(/fonts/Berthold/Light/Berthold.woff) format('woff'), 
    url(/fonts/Berthold/Light/Berthold.ttf) format('truetype'), 
    url(/fonts/Berthold/Light/Berthold.svg) format('svg'),
    url(/fonts/Berthold/Light/Berthold.woff2) format('woff2');
    font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Berthold Medium;
	src: url(/fonts/Berthold/Medium/Berthold.eot);
    src: url(/fonts/Berthold/Medium/Berthold.woff) format('woff'), 
    url(/fonts/Berthold/Medium/Berthold.ttf) format('truetype'), 
    url(/fonts/Berthold/Medium/Berthold.svg) format('svg'),
    url(/fonts/Berthold/Medium/Berthold.woff2) format('woff2');
    font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Berthold Bold;
	src: url(/fonts/Berthold/Bold/Berthold.eot);
    src: url(/fonts/Berthold/Bold/Berthold.woff) format('woff'), 
    url(/fonts/Berthold/Bold/Berthold.ttf) format('truetype'), 
    url(/fonts/Berthold/Bold/Berthold.svg) format('svg'),
    url(/fonts/Berthold/Bold/Berthold.woff2) format('woff2');
    font-weight: normal;
	font-style: normal;
}



.tittle {
    font-family: Berthold Regular;
    font-weight: 100;
    font-size: 16px;
}

.container-nav{
    display: flex;
    justify-content: space-between;
}

.menu-princ li{
    display: inline;
   
}
.menu-princ{
    display:none;
}

.intro-text{
    width: 75%;
}

.copy{
    display: none;
}
.menu-2 li{
    display: inline;
}

.menu-mob{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color:black;
    text-align: right;
}