
// TIPOGRAFÍAS

@font-face {
	font-family: Berthold Regular;
	src: url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.eot);
    src: url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.woff) format('woff'), 
    url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.ttf) format('truetype'), 
    url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.svg) format('svg'),
    url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.woff2) format('woff2');

	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Berthold Light;
	src: url(/fonts/Berthold_akzidenz/Light/Berthold-Light.eot);
    src: url(/fonts/Berthold_akzidenz/Light/Berthold-Light.woff) format('woff'), 
    url(/fonts/Berthold_akzidenz/Light/Berthold-Light.ttf) format('truetype'), 
    url(/fonts/Berthold_akzidenz/Light/Berthold-Light.svg) format('svg'),
    url(/fonts/Berthold_akzidenz/Light/Berthold-Light.woff2) format('woff2');

	font-weight: normal;
	font-style: normal;
}


* {
   
    box-sizing: border-box;
    
}
html{
    width:100%;
    font-family: berthold Light;
    
}
body{
    width:100%; 
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width:100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(236, 236, 236); /* Black fallback color */
    background-color: rgba(243, 243, 243, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    a{
        /* The navigation links inside the overlay */
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: Black;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */

    }
    a:hover, a:focus {
        text-decoration: underline;
    }
    .closebtn {
        position: absolute;
        top: 6px;
        right: 4px;
        font-size: 20px;
    }
    /* Position the content inside the overlay */
    .overlay-content {
        position: relative;
        top: 25%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
        font-family: Berthold Light;
    }
}

// @media screen and (max-height: 450px) {
//     .overlay a {font-size: 20px}
//     .overlay .closebtn {
//         font-size: 40px;
//         top: 15px;
//         right: 35px;
//     }
// }


#header{
    padding:15px 10px;
    background: white;
    position:fixed;
    width: 100%;
    .container-nav{
        display: flex;
        justify-content: space-between;
        .menu-princ{
         
            display:none;
            li{
            justify-content: space-between;
                
            }
            
            
        }
    }
    .text-copy{
        font-size: 14px;
    }
}
.intro-text{
    width: 75%;
    line-height: 22px;
    padding: 80px 0px 60px 10px;
}

#portfolio{
    padding-left: 10px;
    .work{
        div{
            padding:10px 0 20px 0;
            h2{
                font-size: 16px;
                padding-bottom: 5px;
            }
            p{
                font-size: 14px;
                color:rgb(44, 44, 44);
            }
        }

    }
}
#footer{
    padding-left: 10px;
    .social-link{
        padding-top:20px;
        .txt-social{
            font-size: 13px;
            color: grey;
        }

    }
    .contact-footer{
        padding:40px 0;
        width:60%;
        p{
            line-height: 22px;
        }
    }
    .bt-up{
        padding-bottom: 40px;
    }
    .copy{
        p{
            font-size: 14px;

        }
    }
}